<div class="row control-group">
    <div class="form-group col-xs-12 controls">
        <div id="mc_embed_signup">
            <label>{{ site.t[page.lang]['newsletter']['title'] }}</label>
            <div class="subtitle">
                {{ site.t[page.lang]['newsletter']['subtitle'] }}
            </div>
            <form action="https://mulksuzlestirme.us8.list-manage.com/subscribe/post?u=017e36516e5c97ca3e0881958&amp;id=a7d989056f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
              <div class="input-group mc-field-group text-center">
                <!-- <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span> -->
                <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control" placeholder="{{ site.t[page.lang]['newsletter']['email'] }}" lang="{{ page.lang }}">
                <span class="input-group-btn">
                  <input type="submit" value="{{ site.t[page.lang]['newsletter']['subscribe'] }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default" lang="{{ page.lang }}">
                </span>
              </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div>
              <div style="position: absolute; left: -5000px;"><input type="text" name="b_017e36516e5c97ca3e0881958_a7d989056f" tabindex="-1" value=""></div>
            </form>
        </div>
    </div>
</div>
